body {
    font-family: Arial, sans-serif;
    background-color: rgb(205, 236, 246);
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}

h1 {
    font-size: 24px;
}

#teamName {
    transform: scale(1.25);  
    transform-origin: center;
}

.weather-display {
    display: flex;
    gap: 20px;
}

.main-box {
    flex: 2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f0f8ff;
    text-align: center;
}

.small-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    flex: 1;
}

.small-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #e8f7ff;
    text-align: center;
    font-size: 16px;
}


header {
    display: flex;
    background-color: #F8F8FF;
    padding: 1px 0;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}


.logo {
    width: 15%;
    height: auto;
    display: block;
    padding: 0%;
}




#navButton {
    background-color: #007bff;
    border: 1px solid #ccc;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}


#navButton:hover {
    background-color: #0056b3;
}
